# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- List commonly used libraries used by Data Scientist
- List of Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. MatplotLib
4. Scikit-learn

| Data Science Tools | 
| :------------------| 
| Jupyter Notebook   | 
| Visual Studio Code | 
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [24]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [30]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Pranitha